.navbar-brand {
  color: green !important;
} 

* {
  margin: 0;
  padding: 0;
}
.body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cart{
  display: flex;
  background-color: aliceblue;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
}
.fa-solid{
  color: #e7e7e7;
}
.cart p{
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
i {
  font-size: 35px;
  cursor: pointer;
  margin: 0 10px;
  color: black;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 3%;
  margin: 50px 0;
}
.total-price span {
  font-size: 30px;
}

.total {
  font-weight: bold;
}
.list-products {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 70%;
}
.card {
  padding: 5%;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantity {
  font-size: 25px;
}

.card-body div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.fa-trash-alt {
  color: #de6b5c;
}

